In [61]:
import sys
import os
sys.path.append('/content')  # Pastikan Colab bisa mengimpor dari folder /content
!mkdir -p utils tests
!touch utils/__init__.py tests/__init__.py

In [62]:
%%writefile utils/extract.py
import time
import pandas as pd
import requests
from bs4 import BeautifulSoup
from datetime import datetime

def extract_data():
    product_data = []

    for page in range(1, 51):  # Di Colab, batasi halaman untuk testing
        if page == 1:
          url = "https://fashion-studio.dicoding.dev"
        else:
          url = f"https://fashion-studio.dicoding.dev/page{page}"
        try:
            response = requests.get(url, timeout=10)
            response.raise_for_status()
        except requests.RequestException as e:
            print(f"[ERROR] Gagal mengambil halaman {page}: {e}")
            continue

        soup = BeautifulSoup(response.text, 'html.parser')
        product_cards = soup.find_all('div', class_='collection-card')

        if not product_cards:
            print(f"[INFO] Tidak ada produk pada halaman {page}.")
            break

        timestamp_now = datetime.now().strftime('%Y-%m-%d %H:%M:%S')

        for product in product_cards:
            try:
                title = product.find('h3', class_='product-title').text.strip() if product.find('h3', class_='product-title') else 'N/A'
                price = product.find('span', class_='price').text.strip() if product.find('span', class_='price') else 'N/A'
                rating = product.find('p', style="font-size: 14px; color: #777;").text.strip().replace('Rating: ', '') if product.find('p', style="font-size: 14px; color: #777;") else 'N/A'
                color = product.find('p', string=lambda text: 'Color' in text if text else False).text.strip().replace('Color: ', '') if product.find('p', string=lambda text: 'Color' in text if text else False) else 'N/A'
                size = product.find('p', string=lambda text: 'Size' in text if text else False).text.strip().replace('Size: ', '') if product.find('p', string=lambda text: 'Size' in text if text else False) else 'N/A'
                gender = product.find('p', string=lambda text: 'Gender' in text if text else False).text.strip().replace('Gender: ', '') if product.find('p', string=lambda text: 'Gender' in text if text else False) else 'N/A'

                product_data.append({
                    'Title': title,
                    'Price': price,
                    'Rating': rating,
                    'Color': color,
                    'Size': size,
                    'Gender': gender,
                    'Timestamp': timestamp_now
                })
            except Exception as e:
                print(f"[WARNING] Gagal parsing produk di halaman {page}: {e}")
                continue

        time.sleep(1)

    return pd.DataFrame(product_data)

if __name__ == "__main__":
    df = extract_data()
    df.to_csv("extracted_product_data.csv", index=False)
    print(f"Total produk yang diambil: {len(df)}")

Writing utils/extract.py

In [63]:
!python3 utils/extract.py

Total produk yang diambil: 1000

In [64]:
import pandas as pd

df = pd.read_csv("extracted_product_data.csv")
df.head()

,Title,Price,Rating,Color,Size,Gender,Timestamp
0,Unknown Product,$100.00,⭐ Invalid Rating / 5,5 Colors,M,Men,2025-05-04 14:24:47
1,T-shirt 2,$102.15,⭐ 3.9 / 5,3 Colors,M,Women,2025-05-04 14:24:47
2,Hoodie 3,$496.88,⭐ 4.8 / 5,3 Colors,L,Unisex,2025-05-04 14:24:47
3,Pants 4,$467.31,⭐ 3.3 / 5,3 Colors,XL,Men,2025-05-04 14:24:47
4,Outerwear 5,$321.59,⭐ 3.5 / 5,3 Colors,XXL,Women,2025-05-04 14:24:47

In [65]:
%%writefile utils/transform.py
import pandas as pd

def transform_data(df_raw):
    df_raw.columns = df_raw.columns.str.strip().str.lower()
    cleaned_data = []

    for idx, record in df_raw.iterrows():
        try:
            # Validasi dan transformasi data
            title = str(record['title']).strip()
            price = float(str(record['price']).replace('$', '').replace(',', '').strip()) * 16000
            rating = float(str(record['rating']).split('/')[0].replace('⭐', '').strip())

            # PERBAIKAN: Tanda kurung yang benar untuk ekstraksi color
            color_str = str(record['color'])
            color = int(''.join(filter(str.isdigit, color_str))) if any(c.isdigit() for c in color_str) else 0

            size = str(record['size']).strip().upper()
            gender = str(record['gender']).strip().title()

            cleaned_data.append({
                'title': title,
                'price': price,
                'rating': rating,
                'color': color,
                'size': size,
                'gender': gender,
                'timestamp': pd.to_datetime(record['timestamp'])
            })
        except Exception as e:
            print(f"[WARNING] Error pada record {idx}: {str(e)}")
            continue

    return pd.DataFrame(cleaned_data).drop_duplicates().dropna()

if __name__ == "__main__":
    df_raw = pd.read_csv("extracted_product_data.csv")
    df_clean = transform_data(df_raw)
    df_clean.to_csv("cleaned_product_data.csv", index=False)
    print(f"Data berhasil ditransformasi: {len(df_clean)} record")

Writing utils/transform.py

In [66]:
!python3 utils/transform.py

[WARNING] Error pada record 0: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 10: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 15: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 20: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 30: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 40: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 45: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 50: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 60: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 70: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 75: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 80: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 90: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 100: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 105: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 110: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 120: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 130: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 135: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 140: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 150: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 160: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 165: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 170: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 180: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 190: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 195: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 200: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 210: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 220: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 225: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 230: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 240: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 250: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 255: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 260: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 270: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 280: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 285: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 290: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 300: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 310: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 315: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 320: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 330: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 340: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 345: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 350: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 360: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 370: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 375: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 380: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 390: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 400: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 405: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 410: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 420: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 430: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 435: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 440: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 450: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 460: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 465: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 470: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 480: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 490: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 495: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 500: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 510: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 520: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 525: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 530: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 540: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 550: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 555: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 560: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 570: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 580: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 585: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 590: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 600: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 610: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 615: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 620: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 630: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 640: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 645: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 650: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 660: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 670: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 675: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 680: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 690: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 700: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 705: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 710: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 720: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 730: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 735: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 740: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 750: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 760: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 765: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 770: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 780: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 790: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 795: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 800: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 810: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 820: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 825: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 830: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 840: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 850: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 855: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 860: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 870: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 880: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 885: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 890: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 900: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 910: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 915: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 920: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 930: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 940: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 945: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 950: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 960: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 970: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 975: could not convert string to float: 'Not Rated'
[WARNING] Error pada record 980: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 990: could not convert string to float: 'Invalid Rating'
Data berhasil ditransformasi: 867 record

In [67]:
import pandas as pd

df = pd.read_csv("cleaned_product_data.csv")
df.head()

         title      price  rating  color size  gender            timestamp
0    T-shirt 2  1634400.0     3.9      3    M   Women  2025-05-04 14:24:47
1     Hoodie 3  7950080.0     4.8      3    L  Unisex  2025-05-04 14:24:47
2      Pants 4  7476960.0     3.3      3   XL     Men  2025-05-04 14:24:47
3  Outerwear 5  5145440.0     3.5      3  XXL   Women  2025-05-04 14:24:47
4     Jacket 6  2453920.0     3.3      3    S  Unisex  2025-05-04 14:24:47

In [68]:
%%writefile utils/load.py
import pandas as pd

def load_to_csv(df, output_path="final_product_data.csv"):
    try:
        df.to_csv(output_path, index=False)
        print(f"Data berhasil disimpan di: {output_path}")
        return True
    except Exception as e:
        print(f"Gagal menyimpan data: {e}")
        return False

if __name__ == "__main__":
    df = pd.read_csv("cleaned_product_data.csv")
    load_to_csv(df)

Writing utils/load.py

In [69]:
!python3 utils/load.py

Data berhasil disimpan di: final_product_data.csv

In [70]:
%%writefile main.py
import pandas as pd
from utils.extract import extract_data
from utils.transform import transform_data
from utils.load import load_to_csv
import logging
from datetime import datetime

# Configure logging
logging.basicConfig(
    level=logging.INFO,
    format='%(asctime)s - %(levelname)s - %(message)s',
    handlers=[
        logging.FileHandler('etl_pipeline.log'),
        logging.StreamHandler()
    ]
)

def run_etl_pipeline():
    """Main function to execute the ETL pipeline"""
    try:
        # Extraction phase
        logging.info("Starting data extraction...")
        start_time = datetime.now()

        raw_df = extract_data()
        if raw_df.empty:
            raise ValueError("No data was extracted")
        logging.info(f"Successfully extracted {len(raw_df)} records")

        # Transformation phase
        logging.info("Starting data transformation...")
        transformed_df = transform_data(raw_df)
        if transformed_df.empty:
            raise ValueError("No data after transformation")
        logging.info(f"Successfully transformed {len(transformed_df)} records")

        # Loading phase
        logging.info("Starting data loading...")
        if load_to_csv(transformed_df):
            logging.info("Data successfully loaded to CSV")
        else:
            raise RuntimeError("Failed to load data to CSV")

        end_time = datetime.now()
        duration = end_time - start_time
        logging.info(f"ETL pipeline completed successfully in {duration.total_seconds():.2f} seconds")

    except Exception as e:
        logging.error(f"ETL pipeline failed: {str(e)}")
        raise

if __name__ == "__main__":
    run_etl_pipeline()

Writing main.py

In [71]:
%%writefile tests/test_extract.py
import unittest
import pandas as pd
from utils.extract import extract_data

class TestExtract(unittest.TestCase):
    def test_extract_data_returns_dataframe(self):
        df = extract_data()
        self.assertIsInstance(df, pd.DataFrame)

    def test_extract_data_not_empty(self):
        df = extract_data()
        self.assertGreater(len(df), 0, "Data hasil ekstraksi tidak boleh kosong")

Writing tests/test_extract.py

In [72]:
%%writefile tests/test_transform.py
import unittest
import pandas as pd
from utils.extract import extract_data
from utils.transform import transform_data

class TestTransform(unittest.TestCase):
    def test_transform_data_returns_dataframe(self):
        raw_df = extract_data()
        cleaned_df = transform_data(raw_df)
        self.assertIsInstance(cleaned_df, pd.DataFrame)

    def test_transform_data_valid_structure(self):
        raw_df = extract_data()
        cleaned_df = transform_data(raw_df)
        self.assertGreater(len(cleaned_df), 0, "Data hasil transformasi tidak boleh kosong")
        self.assertIn('price', cleaned_df.columns)
        self.assertTrue(cleaned_df['price'].dtype in [float, int])

Writing tests/test_transform.py

In [73]:
%%writefile tests/test_load.py
import unittest
import pandas as pd
import os
from utils.load import load_to_csv

class TestLoad(unittest.TestCase):
    def setUp(self):
        self.dummy_df = pd.DataFrame({
            'title': ['Test Product'],
            'price': [100000.0],
            'rating': [4.5],
            'color': [1],
            'size': ['M'],
            'gender': ['Unisex'],
            'timestamp': [pd.Timestamp.now()]
        })
        self.output_path = "test_output.csv"

    def test_load_to_csv_success(self):
        result = load_to_csv(self.dummy_df, self.output_path)
        self.assertTrue(result)
        self.assertTrue(os.path.exists(self.output_path))

    def tearDown(self):
        if os.path.exists(self.output_path):
            os.remove(self.output_path)

Writing tests/test_load.py

In [74]:
!python3 -m unittest discover -s tests

..Data berhasil disimpan di: test_output.csv
.[WARNING] Error pada record 0: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 10: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 15: could not convert string to float: 'N/A'
[WARNING] Error pada record 20: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 30: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 40: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 45: could not convert string to float: 'N/A'
[WARNING] Error pada record 50: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 60: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 70: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 75: could not convert string to float: 'N/A'
[WARNING] Error pada record 80: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 90: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 100: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 105: could not convert string to float: 'N/A'
[WARNING] Error pada record 110: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 120: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 130: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 135: could not convert string to float: 'N/A'
[WARNING] Error pada record 140: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 150: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 160: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 165: could not convert string to float: 'N/A'
[WARNING] Error pada record 170: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 180: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 190: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 195: could not convert string to float: 'N/A'
[WARNING] Error pada record 200: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 210: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 220: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 225: could not convert string to float: 'N/A'
[WARNING] Error pada record 230: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 240: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 250: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 255: could not convert string to float: 'N/A'
[WARNING] Error pada record 260: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 270: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 280: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 285: could not convert string to float: 'N/A'
[WARNING] Error pada record 290: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 300: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 310: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 315: could not convert string to float: 'N/A'
[WARNING] Error pada record 320: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 330: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 340: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 345: could not convert string to float: 'N/A'
[WARNING] Error pada record 350: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 360: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 370: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 375: could not convert string to float: 'N/A'
[WARNING] Error pada record 380: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 390: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 400: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 405: could not convert string to float: 'N/A'
[WARNING] Error pada record 410: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 420: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 430: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 435: could not convert string to float: 'N/A'
[WARNING] Error pada record 440: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 450: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 460: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 465: could not convert string to float: 'N/A'
[WARNING] Error pada record 470: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 480: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 490: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 495: could not convert string to float: 'N/A'
[WARNING] Error pada record 500: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 510: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 520: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 525: could not convert string to float: 'N/A'
[WARNING] Error pada record 530: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 540: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 550: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 555: could not convert string to float: 'N/A'
[WARNING] Error pada record 560: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 570: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 580: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 585: could not convert string to float: 'N/A'
[WARNING] Error pada record 590: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 600: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 610: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 615: could not convert string to float: 'N/A'
[WARNING] Error pada record 620: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 630: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 640: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 645: could not convert string to float: 'N/A'
[WARNING] Error pada record 650: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 660: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 670: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 675: could not convert string to float: 'N/A'
[WARNING] Error pada record 680: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 690: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 700: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 705: could not convert string to float: 'N/A'
[WARNING] Error pada record 710: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 720: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 730: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 735: could not convert string to float: 'N/A'
[WARNING] Error pada record 740: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 750: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 760: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 765: could not convert string to float: 'N/A'
[WARNING] Error pada record 770: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 780: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 790: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 795: could not convert string to float: 'N/A'
[WARNING] Error pada record 800: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 810: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 820: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 825: could not convert string to float: 'N/A'
[WARNING] Error pada record 830: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 840: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 850: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 855: could not convert string to float: 'N/A'
[WARNING] Error pada record 860: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 870: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 880: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 885: could not convert string to float: 'N/A'
[WARNING] Error pada record 890: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 900: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 910: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 915: could not convert string to float: 'N/A'
[WARNING] Error pada record 920: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 930: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 940: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 945: could not convert string to float: 'N/A'
[WARNING] Error pada record 950: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 960: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 970: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 975: could not convert string to float: 'N/A'
[WARNING] Error pada record 980: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 990: could not convert string to float: 'Invalid Rating'
.[WARNING] Error pada record 0: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 10: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 15: could not convert string to float: 'N/A'
[WARNING] Error pada record 20: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 30: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 40: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 45: could not convert string to float: 'N/A'
[WARNING] Error pada record 50: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 60: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 70: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 75: could not convert string to float: 'N/A'
[WARNING] Error pada record 80: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 90: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 100: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 105: could not convert string to float: 'N/A'
[WARNING] Error pada record 110: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 120: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 130: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 135: could not convert string to float: 'N/A'
[WARNING] Error pada record 140: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 150: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 160: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 165: could not convert string to float: 'N/A'
[WARNING] Error pada record 170: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 180: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 190: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 195: could not convert string to float: 'N/A'
[WARNING] Error pada record 200: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 210: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 220: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 225: could not convert string to float: 'N/A'
[WARNING] Error pada record 230: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 240: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 250: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 255: could not convert string to float: 'N/A'
[WARNING] Error pada record 260: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 270: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 280: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 285: could not convert string to float: 'N/A'
[WARNING] Error pada record 290: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 300: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 310: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 315: could not convert string to float: 'N/A'
[WARNING] Error pada record 320: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 330: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 340: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 345: could not convert string to float: 'N/A'
[WARNING] Error pada record 350: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 360: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 370: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 375: could not convert string to float: 'N/A'
[WARNING] Error pada record 380: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 390: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 400: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 405: could not convert string to float: 'N/A'
[WARNING] Error pada record 410: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 420: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 430: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 435: could not convert string to float: 'N/A'
[WARNING] Error pada record 440: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 450: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 460: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 465: could not convert string to float: 'N/A'
[WARNING] Error pada record 470: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 480: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 490: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 495: could not convert string to float: 'N/A'
[WARNING] Error pada record 500: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 510: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 520: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 525: could not convert string to float: 'N/A'
[WARNING] Error pada record 530: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 540: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 550: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 555: could not convert string to float: 'N/A'
[WARNING] Error pada record 560: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 570: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 580: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 585: could not convert string to float: 'N/A'
[WARNING] Error pada record 590: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 600: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 610: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 615: could not convert string to float: 'N/A'
[WARNING] Error pada record 620: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 630: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 640: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 645: could not convert string to float: 'N/A'
[WARNING] Error pada record 650: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 660: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 670: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 675: could not convert string to float: 'N/A'
[WARNING] Error pada record 680: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 690: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 700: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 705: could not convert string to float: 'N/A'
[WARNING] Error pada record 710: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 720: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 730: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 735: could not convert string to float: 'N/A'
[WARNING] Error pada record 740: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 750: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 760: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 765: could not convert string to float: 'N/A'
[WARNING] Error pada record 770: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 780: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 790: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 795: could not convert string to float: 'N/A'
[WARNING] Error pada record 800: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 810: could not convert string to float: 'Invalid Rating'

In [75]:
!pip install pytest coverage

Requirement already satisfied: pytest in /usr/local/lib/python3.11/dist-packages (8.3.5)
Requirement already satisfied: coverage in /usr/local/lib/python3.11/dist-packages (7.8.0)
Requirement already satisfied: iniconfig in /usr/local/lib/python3.11/dist-packages (from pytest) (2.1.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from pytest) (24.2)
Requirement already satisfied: pluggy<2,>=1.5 in /usr/local/lib/python3.11/dist-packages (from pytest) (1.5.0)

In [76]:
!coverage run -m unittest discover -s tests

..Data berhasil disimpan di: test_output.csv
.[WARNING] Error pada record 0: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 10: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 15: could not convert string to float: 'N/A'
[WARNING] Error pada record 20: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 30: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 40: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 45: could not convert string to float: 'N/A'
[WARNING] Error pada record 50: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 60: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 70: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 75: could not convert string to float: 'N/A'
[WARNING] Error pada record 80: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 90: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 100: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 105: could not convert string to float: 'N/A'
[WARNING] Error pada record 110: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 120: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 130: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 135: could not convert string to float: 'N/A'
[WARNING] Error pada record 140: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 150: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 160: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 165: could not convert string to float: 'N/A'
[WARNING] Error pada record 170: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 180: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 190: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 195: could not convert string to float: 'N/A'
[WARNING] Error pada record 200: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 210: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 220: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 225: could not convert string to float: 'N/A'
[WARNING] Error pada record 230: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 240: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 250: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 255: could not convert string to float: 'N/A'
[WARNING] Error pada record 260: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 270: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 280: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 285: could not convert string to float: 'N/A'
[WARNING] Error pada record 290: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 300: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 310: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 315: could not convert string to float: 'N/A'
[WARNING] Error pada record 320: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 330: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 340: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 345: could not convert string to float: 'N/A'
[WARNING] Error pada record 350: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 360: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 370: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 375: could not convert string to float: 'N/A'
[WARNING] Error pada record 380: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 390: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 400: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 405: could not convert string to float: 'N/A'
[WARNING] Error pada record 410: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 420: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 430: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 435: could not convert string to float: 'N/A'
[WARNING] Error pada record 440: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 450: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 460: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 465: could not convert string to float: 'N/A'
[WARNING] Error pada record 470: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 480: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 490: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 495: could not convert string to float: 'N/A'
[WARNING] Error pada record 500: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 510: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 520: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 525: could not convert string to float: 'N/A'
[WARNING] Error pada record 530: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 540: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 550: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 555: could not convert string to float: 'N/A'
[WARNING] Error pada record 560: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 570: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 580: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 585: could not convert string to float: 'N/A'
[WARNING] Error pada record 590: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 600: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 610: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 615: could not convert string to float: 'N/A'
[WARNING] Error pada record 620: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 630: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 640: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 645: could not convert string to float: 'N/A'
[WARNING] Error pada record 650: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 660: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 670: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 675: could not convert string to float: 'N/A'
[WARNING] Error pada record 680: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 690: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 700: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 705: could not convert string to float: 'N/A'
[WARNING] Error pada record 710: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 720: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 730: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 735: could not convert string to float: 'N/A'
[WARNING] Error pada record 740: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 750: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 760: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 765: could not convert string to float: 'N/A'
[WARNING] Error pada record 770: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 780: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 790: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 795: could not convert string to float: 'N/A'
[WARNING] Error pada record 800: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 810: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 820: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 825: could not convert string to float: 'N/A'
[WARNING] Error pada record 830: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 840: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 850: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 855: could not convert string to float: 'N/A'
[WARNING] Error pada record 860: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 870: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 880: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 885: could not convert string to float: 'N/A'
[WARNING] Error pada record 890: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 900: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 910: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 915: could not convert string to float: 'N/A'
[WARNING] Error pada record 920: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 930: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 940: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 945: could not convert string to float: 'N/A'
[WARNING] Error pada record 950: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 960: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 970: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 975: could not convert string to float: 'N/A'
[WARNING] Error pada record 980: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 990: could not convert string to float: 'Invalid Rating'
.[WARNING] Error pada record 0: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 10: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 15: could not convert string to float: 'N/A'
[WARNING] Error pada record 20: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 30: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 40: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 45: could not convert string to float: 'N/A'
[WARNING] Error pada record 50: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 60: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 70: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 75: could not convert string to float: 'N/A'
[WARNING] Error pada record 80: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 90: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 100: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 105: could not convert string to float: 'N/A'
[WARNING] Error pada record 110: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 120: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 130: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 135: could not convert string to float: 'N/A'
[WARNING] Error pada record 140: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 150: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 160: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 165: could not convert string to float: 'N/A'
[WARNING] Error pada record 170: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 180: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 190: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 195: could not convert string to float: 'N/A'
[WARNING] Error pada record 200: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 210: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 220: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 225: could not convert string to float: 'N/A'
[WARNING] Error pada record 230: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 240: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 250: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 255: could not convert string to float: 'N/A'
[WARNING] Error pada record 260: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 270: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 280: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 285: could not convert string to float: 'N/A'
[WARNING] Error pada record 290: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 300: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 310: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 315: could not convert string to float: 'N/A'
[WARNING] Error pada record 320: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 330: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 340: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 345: could not convert string to float: 'N/A'
[WARNING] Error pada record 350: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 360: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 370: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 375: could not convert string to float: 'N/A'
[WARNING] Error pada record 380: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 390: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 400: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 405: could not convert string to float: 'N/A'
[WARNING] Error pada record 410: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 420: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 430: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 435: could not convert string to float: 'N/A'
[WARNING] Error pada record 440: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 450: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 460: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 465: could not convert string to float: 'N/A'
[WARNING] Error pada record 470: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 480: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 490: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 495: could not convert string to float: 'N/A'
[WARNING] Error pada record 500: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 510: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 520: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 525: could not convert string to float: 'N/A'
[WARNING] Error pada record 530: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 540: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 550: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 555: could not convert string to float: 'N/A'
[WARNING] Error pada record 560: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 570: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 580: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 585: could not convert string to float: 'N/A'
[WARNING] Error pada record 590: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 600: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 610: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 615: could not convert string to float: 'N/A'
[WARNING] Error pada record 620: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 630: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 640: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 645: could not convert string to float: 'N/A'
[WARNING] Error pada record 650: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 660: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 670: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 675: could not convert string to float: 'N/A'
[WARNING] Error pada record 680: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 690: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 700: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 705: could not convert string to float: 'N/A'
[WARNING] Error pada record 710: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 720: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 730: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 735: could not convert string to float: 'N/A'
[WARNING] Error pada record 740: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 750: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 760: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 765: could not convert string to float: 'N/A'
[WARNING] Error pada record 770: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 780: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 790: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 795: could not convert string to float: 'N/A'
[WARNING] Error pada record 800: could not convert string to float: 'Invalid Rating'
[WARNING] Error pada record 810: could not convert string to float: 'Invalid Rating'

In [77]:
!coverage report

Name                      Stmts   Miss  Cover
---------------------------------------------
tests/test_extract.py        10      0   100%
tests/test_load.py           15      0   100%
tests/test_transform.py      15      0   100%
utils/__init__.py             0      0   100%
utils/extract.py             41     11    73%
utils/load.py                12      5    58%
utils/transform.py           23      4    83%
---------------------------------------------
TOTAL                       116     20    83%

In [78]:
%%writefile submission.txt
1. Pastikan semua skrip pengujian sudah diupload ke Google Colab, termasuk:

> tests/test_extract.py

> tests/test_transform.py

> tests/test_load.py

2. Untuk menjalankan unit test menggunakan unittest, jalankan perintah berikut di Google Colab:

!python3 -m unittest discover -s tests

3. Perintah ini akan mencari semua file dengan awalan test_ di dalam folder tests/ dan menjalankan unit test yang ada.

4. Jika Anda ingin menjalankan file test secara spesifik, misalnya test_extract.py, jalankan:
> !python3 tests/test_extract.py
> !python3 tests/test_transform.py
> !python3 tests/test_load.py

5. Cara Menjalankan Coverage
!pip install pytest coverage
!coverage run -m unittest discover -s tests
!coverage report

Writing submission.txt

In [79]:
!pip freeze requirements.txt

absl-py==1.4.0
accelerate==1.6.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.15
aiosignal==1.3.2
alabaster==1.0.0
albucore==0.0.24
albumentations==2.0.6
ale-py==0.11.0
altair==5.5.0
annotated-types==0.7.0
anyio==4.9.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
array_record==0.7.2
arviz==0.21.0
astropy==7.0.1
astropy-iers-data==0.2025.4.28.0.37.27
astunparse==1.6.3
atpublic==5.1
attrs==25.3.0
audioread==3.0.1
autograd==1.7.0
babel==2.17.0
backcall==0.2.0
backports.tarfile==1.2.0
beautifulsoup4==4.13.4
betterproto==2.0.0b6
bigframes==2.1.0
bigquery-magics==0.9.0
bleach==6.2.0
blinker==1.9.0
blis==1.3.0
blosc2==3.3.1
bokeh==3.7.2
Bottleneck==1.4.2
bqplot==0.12.44
branca==0.8.1
build==1.2.2.post1
CacheControl==0.14.2
cachetools==5.5.2
catalogue==2.0.10
certifi==2025.4.26
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
chex==0.1.89
clarabel==0.10.0
click==8.1.8
cloudpathlib==0.21.0
cloudpickle==3.1.1
cmake==3.31.6
cmdstanpy==1.2.5
colorcet==3.1.0
colorlover==0.3.0
colour==0.1.5
community==1.0.0b1
confection==0.1.5
cons==0.4.6
contourpy==1.3.2
coverage==7.8.0
cramjam==2.10.0
cryptography==43.0.3
cuda-python==12.6.2.post1
cudf-cu12 @ https://pypi.nvidia.com/cudf-cu12/cudf_cu12-25.2.1-cp311-cp311-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl
cudf-polars-cu12==25.2.2
cufflinks==0.17.3
cuml-cu12==25.2.1
cupy-cuda12x==13.3.0
cuvs-cu12==25.2.1
cvxopt==1.3.2
cvxpy==1.6.5
cycler==0.12.1
cyipopt==1.5.0
cymem==2.0.11
Cython==3.0.12
dask==2024.12.1
dask-cuda==25.2.0
dask-cudf-cu12==25.2.2
dask-expr==1.1.21
datascience==0.17.6
db-dtypes==1.4.2
dbus-python==1.2.18
debugpy==1.8.0
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.18
diffusers==0.33.1
distributed==2024.12.1
distributed-ucxx-cu12==0.42.0
distro==1.9.0
dlib==19.24.6
dm-tree==0.1.9
docker-pycreds==0.4.0
docstring_parser==0.16
docutils==0.21.2
dopamine_rl==4.1.2
duckdb==1.2.2
earthengine-api==1.5.13
easydict==1.13
editdistance==0.8.1
eerepr==0.1.1
einops==0.8.1
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
entrypoints==0.4
et_xmlfile==2.0.0
etils==1.12.2
etuples==0.3.9
Farama-Notifications==0.0.4
fastai==2.7.19
fastcore==1.7.29
fastdownload==0.0.7
fastjsonschema==2.21.1
fastprogress==1.0.3
fastrlock==0.8.3
filelock==3.18.0
firebase-admin==6.8.0
Flask==3.1.0
flatbuffers==25.2.10
flax==0.10.6
folium==0.19.5
fonttools==4.57.0
frozendict==2.4.6
frozenlist==1.6.0
fsspec==2025.3.2
future==1.0.0
gast==0.6.0
gcsfs==2025.3.2
GDAL==3.6.4
gdown==5.2.0
geemap==0.35.3
geocoder==1.38.1
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
gin-config==0.5.0
gitdb==4.0.12
GitPython==3.1.44
glob2==0.7
google==2.0.3
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.169.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
google-cloud-aiplatform==1.90.0
google-cloud-bigquery==3.31.0
google-cloud-bigquery-connection==1.18.2
google-cloud-bigquery-storage==2.31.0
google-cloud-bigtable==2.30.1
google-cloud-core==2.4.3
google-cloud-dataproc==5.18.1
google-cloud-datastore==2.21.0
google-cloud-firestore==2.20.2
google-cloud-functions==1.20.3
google-cloud-iam==2.19.0
google-cloud-language==2.17.1
google-cloud-pubsub==2.25.0
google-cloud-resource-manager==1.14.2
google-cloud-spanner==3.54.0
google-cloud-storage==2.19.0
google-cloud-translate==3.20.2
google-colab @ file:///colabtools/dist/google_colab-1.0.0.tar.gz
google-crc32c==1.7.1
google-genai==1.12.1
google-generativeai==0.8.5
google-pasta==0.2.0
google-resumable-media==2.7.2
google-spark-connect==0.5.2
googleapis-common-protos==1.70.0
googledrivedownloader==1.1.0
graphviz==0.20.3
greenlet==3.2.1
grpc-google-iam-v1==0.14.2
grpc-interceptor==0.15.4
grpcio==1.71.0
grpcio-status==1.71.0
grpclib==0.4.7
gspread==6.2.0
gspread-dataframe==4.0.0
gym==0.25.2
gym-notices==0.0.8
gymnasium==1.1.1
h11==0.16.0
h2==4.2.0
h5netcdf==1.6.1
h5py==3.13.0
hdbscan==0.8.40
highspy==1.10.0
holidays==0.71
holoviews==1.20.2
hpack==4.1.0
html5lib==1.1
httpcore==1.0.9
httpimport==1.4.1
httplib2==0.22.0
httpx==0.28.1
huggingface-hub==0.30.2
humanize==4.12.2
hyperframe==6.1.0
hyperopt==0.2.7
ibis-framework==9.5.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
imagesize==1.4.1
imbalanced-learn==0.13.0
immutabledict==4.2.1
importlib_metadata==8.7.0
importlib_resources==6.5.2
imutils==0.5.4
inflect==7.5.0
iniconfig==2.1.0
intel-cmplr-lib-ur==2025.1.0
intel-openmp==2025.1.0
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipykernel==6.17.1
ipyleaflet==0.19.2
ipyparallel==8.8.0
ipython==7.34.0
ipython-genutils==0.2.0
ipython-sql==0.5.0
ipytree==0.2.2
ipywidgets==7.7.1
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jax==0.5.2
jax-cuda12-pjrt==0.5.1
jax-cuda12-plugin==0.5.1
jaxlib==0.5.1
jeepney==0.9.0
jieba==0.42.1
Jinja2==3.1.6
jiter==0.9.0
joblib==1.4.2
jsonpatch==1.33
jsonpickle==4.0.5
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter-client==6.1.12
jupyter-console==6.1.0
jupyter-leaflet==0.19.2
jupyter-server==1.16.0
jupyter_core==5.7.2
jupyter_kernel_gateway @ git+https://github.com/googlecolab/kernel_gateway@b134e9945df25c2dcb98ade9129399be10788671
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.14
kaggle==1.7.4.2
kagglehub==0.3.12
keras==3.8.0
keras-hub==0.18.1
keras-nlp==0.18.1
keyring==25.6.0
keyrings.google-artifactregistry-auth==1.1.2
kiwisolver==1.4.8
langchain==0.3.24
langchain-core==0.3.56
langchain-text-splitters==0.3.8
langcodes==3.5.0
langsmith==0.3.38
language_data==1.3.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.4
libclang==18.1.1
libcudf-cu12 @ https://pypi.nvidia.com/libcudf-cu12/libcudf_cu12-25.2.1-py3-none-manylinux_2_28_x86_64.whl
libcugraph-cu12==25.2.0
libcuml-cu12==25.2.1
libcuvs-cu12==25.2.1
libkvikio-cu12==25.2.1
libraft-cu12==25.2.0
librosa==0.11.0
libucx-cu12==1.18.0.post1
libucxx-cu12==0.42.0
lightgbm @ file:///tmp/lightgbm/LightGBM/dist/lightgbm-4.5.0-py3-none-linux_x86_64.whl
linkify-it-py==2.0.3
llvmlite==0.43.0
locket==1.0.0
logical-unification==0.4.6
lxml==5.4.0
Mako==1.1.3
marisa-trie==1.2.1
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
matplotlib-venn==1.1.2
mdit-py-plugins==0.4.2
mdurl==0.1.2
miniKanren==1.0.3
missingno==0.5.2
mistune==3.1.3
mizani==0.13.3
mkl==2025.0.1
ml-dtypes==0.4.1
mlxtend==0.23.4
more-itertools==10.7.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.0
multidict==6.4.3
multipledispatch==1.0.0
multitasking==0.0.11
murmurhash==1.0.12
music21==9.3.0
namex==0.0.9
narwhals==1.37.1
natsort==8.4.0
nbclassic==1.3.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
ndindex==1.9.2
nest-asyncio==1.6.0
networkx==3.4.2
nibabel==5.3.2
nltk==3.9.1
notebook==6.5.7
notebook_shim==0.2.4
numba==0.60.0
numba-cuda==0.2.0
numexpr==2.10.2
numpy==2.0.2
nvidia-cublas-cu12==12.5.3.2
nvidia-cuda-cupti-cu12==12.5.82
nvidia-cuda-nvcc-cu12==12.5.82
nvidia-cuda-nvrtc-cu12==12.5.82
nvidia-cuda-runtime-cu12==12.5.82
nvidia-cudnn-cu12==9.3.0.75
nvidia-cufft-cu12==11.2.3.61
nvidia-curand-cu12==10.3.6.82
nvidia-cusolver-cu12==11.6.3.83
nvidia-cusparse-cu12==12.5.1.3
nvidia-cusparselt-cu12==0.6.2
nvidia-ml-py==12.570.86
nvidia-nccl-cu12==2.21.5
nvidia-nvcomp-cu12==4.2.0.11
nvidia-nvjitlink-cu12==12.5.82
nvidia-nvtx-cu12==12.4.127
nvtx==0.2.11
nx-cugraph-cu12 @ https://pypi.nvidia.com/nx-cugraph-cu12/nx_cugraph_cu12-25.2.0-py3-none-any.whl
oauth2client==4.1.3
oauthlib==3.2.2
openai==1.76.0
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opentelemetry-api==1.16.0
opentelemetry-sdk==1.16.0
opentelemetry-semantic-conventions==0.37b0
opt_einsum==3.4.0
optax==0.2.4
optree==0.15.0
orbax-checkpoint==0.11.12
orjson==3.10.17
osqp==1.0.3
packaging==24.2
pandas==2.2.2
pandas-datareader==0.10.0
pandas-gbq==0.28.0
pandas-stubs==2.2.2.240909
pandocfilters==1.5.1
panel==1.6.3
param==2.2.0
parso==0.8.4
parsy==2.1
partd==1.4.2
pathlib==1.0.1
patsy==1.0.1
peewee==3.18.0
peft==0.15.2
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.2.1
platformdirs==4.3.7
plotly==5.24.1
plotnine==0.14.5
pluggy==1.5.0
ply==3.11
polars==1.21.0
pooch==1.8.2
portpicker==1.5.2
preshed==3.0.9
prettytable==3.16.0
proglog==0.1.11
progressbar2==4.5.0
prometheus_client==0.21.1
promise==2.3
prompt_toolkit==3.0.51
propcache==0.3.1
prophet==1.1.6
proto-plus==1.26.1
protobuf==5.29.4
psutil==5.9.5
psycopg2==2.9.10
ptyprocess==0.7.0
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycairo==1.28.0
pycocotools==2.0.8
pycparser==2.22
pydantic==2.11.3
pydantic_core==2.33.1
pydata-google-auth==1.9.1
pydot==3.0.4
pydotplus==2.0.2
PyDrive==1.3.1
PyDrive2==1.21.3
pyerfa==2.0.1.5
pygame==2.6.1
pygit2==1.18.0
Pygments==2.19.1
PyGObject==3.42.0
PyJWT==2.10.1
pylibcudf-cu12 @ https://pypi.nvidia.com/pylibcudf-cu12/pylibcudf_cu12-25.2.1-cp311-cp311-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl
pylibcugraph-cu12==25.2.0
pylibraft-cu12==25.2.0
pymc==5.22.0
pymystem3==0.2.0
pynndescent==0.5.13
pynvjitlink-cu12==0.5.2
pynvml==12.0.0
pyogrio==0.10.0
pyomo==6.9.2
PyOpenGL==3.1.9
pyOpenSSL==24.2.1
pyparsing==3.2.3
pyperclip==1.9.0
pyproj==3.7.1
pyproject_hooks==1.2.0
pyshp==2.3.1
PySocks==1.7.1
pyspark==3.5.5
pytensor==2.30.3
pytest==8.3.5
pytest-cov==6.1.1
python-apt==0.0.0
python-box==7.3.2
python-dateutil==2.9.0.post0
python-louvain==0.16
python-slugify==8.0.4
python-snappy==0.7.3
python-utils==3.9.1
pytz==2025.2
pyviz_comms==3.0.4
PyYAML==6.0.2
pyzmq==24.0.1
raft-dask-cu12==25.2.0
rapids-dask-dependency==25.2.0
ratelim==0.1.6
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
requirements-parser==0.9.0
rich==13.9.4
rmm-cu12==25.2.0
roman-numerals-py==3.1.0
rpds-py==0.24.0
rpy2==3.5.17
rsa==4.9.1
safetensors==0.5.3
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
scooby==0.10.1
scs==3.2.7.post2
seaborn==0.13.2
SecretStorage==3.3.3
Send2Trash==1.8.3
sentence-transformers==3.4.1
sentencepiece==0.2.0
sentry-sdk==2.27.0
setproctitle==1.3.6
shap==0.47.2
shapely==2.1.0
shellingham==1.5.4
simple-parsing==0.1.7
simplejson==3.20.1
simsimd==6.2.1
six==1.17.0
sklearn-compat==0.1.3
sklearn-pandas==2.2.0
slicer==0.0.8
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.7
soxr==0.5.0.post1
spacy==3.8.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spanner-graph-notebook==1.1.6
Sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.40
sqlglot==25.20.2
sqlparse==0.5.3
srsly==2.5.1
stanio==0.5.1
statsmodels==0.14.4
stringzilla==3.12.5
sympy==1.13.1
tables==3.10.2
tabulate==0.9.0
tbb==2022.1.0
tblib==3.1.0
tcmlib==1.3.0
tenacity==9.1.2
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-datasets==4.9.8
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.17.1
tensorflow-probability==0.25.0
tensorflow-text==2.18.1
tensorflow_decision_forests==1.11.0
tensorstore==0.1.74
termcolor==3.0.1
terminado==0.18.1
text-unidecode==1.3
textblob==0.19.0
tf-slim==1.1.0
tf_keras==2.18.0
thinc==8.3.6
threadpoolctl==3.6.0
tifffile==2025.3.30
timm==1.0.15
tinycss2==1.4.0
tokenizers==0.21.1
toml==0.10.2
toolz==0.12.1
torch @ https://download.pytorch.org/whl/cu124/torch-2.6.0%2Bcu124-cp311-cp311-linux_x86_64.whl
torchaudio @ https://download.pytorch.org/whl/cu124/torchaudio-2.6.0%2Bcu124-cp311-cp311-linux_x86_64.whl
torchsummary==1.5.1
torchvision @ https://download.pytorch.org/whl/cu124/torchvision-0.21.0%2Bcu124-cp311-cp311-linux_x86_64.whl
tornado==6.4.2
tqdm==4.67.1
traitlets==5.7.1
traittypes==0.2.1
transformers==4.51.3
treelite==4.4.1
treescope==0.1.9
triton==3.2.0
tweepy==4.15.0
typeguard==4.4.2
typer==0.15.3
types-pytz==2025.2.0.20250326
types-setuptools==80.0.0.20250429
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
tzlocal==5.3.1
uc-micro-py==1.0.3
ucx-py-cu12==0.42.0
ucxx-cu12==0.42.0
umap-learn==0.5.7
umf==0.10.0
uritemplate==4.1.1
urllib3==2.4.0
vega-datasets==0.9.0
wadllib==1.3.6
wandb==0.19.10
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==3.6.10
wordcloud==1.9.4
wrapt==1.17.2
wurlitzer==3.1.1
xarray==2025.3.1
xarray-einstats==0.8.0
xgboost==2.1.4
xlrd==2.0.1
xyzservices==2025.4.0
yarl==1.20.0
ydf==0.11.0
yellowbrick==1.5
yfinance==0.2.57
zict==3.0.0
zipp==3.21.0
zstandard==0.23.0

In [80]:
!pip freeze > requirements.txt